@use "../variables" as var;

.category-list {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
}

.category-item {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var.$color-x-darker;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  &.home {
    color: var.$color-darker;
    &:hover {
      color: var.$color;
    }
  }

  & * {
    cursor: pointer;
  }
  & > .accordion {
    & * {
      border: 0;
    }
    & > .item {
      display: flex;
      flex-direction: column;
      gap: 12px;
      & .trigger {
        padding: 0;
        justify-content: start;
        gap: 10px;
        user-select: none;
        &:hover {
          text-decoration: none;
        }
      }
      & .content {
        display: flex;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 0px 0px 0px 14px;
        color: var.$color-darker;
        margin-bottom: 6px;
        font-size: 16px;
        &:hover {
          color: var.$color;
        }
        & > a {
          display: block;
          width: calc(var.$category-list-item-width * 0.65);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: break-all;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: var.$bp-x-small) {
}

@media (min-width: calc(var.$bp-x-small + 1px)) and (max-width: var.$bp-small) {
}

@media (min-width: calc(var.$bp-small + 1px)) and (max-width: var.$bp-medium) {
}

@media (min-width: calc(var.$bp-medium + 1px)) and (max-width: var.$bp-large) {
}

@media (min-width: var.$bp-large) {
}
