@use "../variables" as var;

.category-list {
  padding: 0;
  padding-top: 16px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: sticky;
  top: var.$header-height;
  width: var.$category-list-item-width;
  gap: 10px;
}

.category-item {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var.$color-x-darker;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  &.home {
    color: var.$color-darker;
    &:hover {
      color: var.$color;
    }
  }

  & * {
    cursor: pointer;
  }
  & > .accordion {
    & * {
      border: 0;
    }
    & > .item {
      & .trigger {
        padding: 0;
        justify-content: start;
        gap: 10px;
        user-select: none;
        &:hover {
          text-decoration: none;
        }
      }
      & .content {
        display: flex;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 6px 0px 6px 14px;
        color: var.$color-darker;
        &:hover {
          color: var.$color;
        }
        & > a {
          display: block;
          width: calc(var.$category-list-item-width * 0.85);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: break-all;
        }
      }
    }
  }
}

/* 초소형 기기 (폰, 320px 이상) */
@media (max-width: 320px) {
  .category-list {
  }
}

/* 작은 기기 (폰, 480px 이상) */
@media (max-width: 480px) {
  .category-list {
    display: none;
  }
}

/* 중간 기기 (태블릿, 768px 이상) */
@media (max-width: 768px) {
}

/* 큰 기기 (데스크탑, 1024px 이상) */
@media (max-width: 1024px) {
}

/* 매우 큰 기기 (큰 데스크탑, 1200px 이상) */
@media (min-width: 1024px) {
}
