$bg-color: #0d0d0e;
$bg-color-lighter: lighten($bg-color, 20%);
$bg-color-x-lighter: lighten($bg-color-lighter, 20%);
$bg-color-xx-lighter: lighten($bg-color-x-lighter, 20%);

$color: #dadada;

$header-height: 60px;
$category-list-item-size: 55px;
$content-width: 740px;
