$bg-color: #0b0b0c;
$bg-color-lighter: lighten($bg-color, 5%);
$bg-color-x-lighter: lighten($bg-color-lighter, 5%);
$bg-color-xx-lighter: lighten($bg-color-x-lighter, 5%);

$color: #dadada;
$color-darker: #b3b3b3;
$color-x-darker: #8c8c8c;
$color-xx-darker: #666666;

$header-height: 60px;
$header-vertical-padding: 15px;
$header-horizontal-padding: 64px;

$search-width: 140px;

$category-list-item-width: 180px;
$content-width: 720px;
$content-padding-left: 32px;

$main-top-padding: 16px;

$reponsive-small-horizontal-padding: 16px;

$post-margin-bottom: 256px;

$footer-height: 120px;
$footer-icon-width: 16px;
$footer-margin-top: 250px;

$bp-x-small: 320px;
$bp-small: 800px;
$bp-medium: 950px;
$bp-large: 1200px;
