@use "variables" as var;

.home {
  background-color: var.$bg-color;
  & > main {
    width: 100%;
    min-height: calc(100vh - var.$header-height);
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    padding-top: var.$main-top-padding;
    & > aside {
      min-height: 100%;
      position: relative;
      & > nav {
        height: 100%;
        position: relative;
      }
    }
  }
  & .container {
    width: 100%;
    max-width: var.$content-width;
    box-sizing: border-box;
    min-height: 100vh;
  }
}

.recent-post-list {
  padding: 0;
  margin: 0;
}

.recent-post-list-item {
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  & .top {
    display: flex;
    gap: 10px;
  }
  & .date {
    font-size: small;
    color: var.$color-xx-darker;
    display: flex;
    gap: 8px;
    & > span {
      display: flex;
      gap: 8px;
    }
  }
  & .category {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: small;
    color: var.$color-x-darker;
    & > .icon {
      border-radius: 50%;
    }
  }
  & .title {
    font-size: 24px;
    line-height: 1;
    &:hover {
      text-decoration: underline;
    }
  }
  & .tag {
    display: flex;
    gap: 8px;
    align-items: center;
    & > svg {
      fill: var.$color-xx-darker;
    }
    & > .tag-badge {
      text-decoration: underline;
      font-size: small;
      color: var.$color-x-darker;
      display: flex;
      align-items: center;
      &::after {
        content: ",";
      }
      &:last-child::after {
        content: "";
      }
    }
  }
  & > a {
    color: var.$color;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: var.$bp-x-small) {
  .container {
    padding-left: var.$reponsive-small-horizontal-padding;
    padding-right: var.$reponsive-small-horizontal-padding;
  }
}

@media (min-width: calc(var.$bp-x-small + 1px)) and (max-width: var.$bp-small) {
  .container {
    padding-left: var.$reponsive-small-horizontal-padding;
    padding-right: var.$reponsive-small-horizontal-padding;
  }
}

@media (min-width: calc(var.$bp-small + 1px)) and (max-width: var.$bp-medium) {
}

@media (min-width: calc(var.$bp-medium + 1px)) and (max-width: var.$bp-large) {
}

@media (min-width: var.$bp-large) {
}
