@use "../variables" as var;

.head {
  margin: 0;
  padding: 0;
  color: var.$color-darker;
  font-size: large;
  margin-bottom: 16px;
}

.list {
  margin: 0;
  padding: 0;
}

.spinner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0px;
  & > svg {
    color: var.$color-darker;
  }
}
